{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

{% csrf_token %}

<title>
    {% block title %}
    {% if user.is_authenticated %}
    {{ user.username }}
    {% else %}
    Log In
    {% endif %}
    {% endblock title %}
</title>

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-xl-3 col-sm-6 ms-2">
            {% if user.is_authenticated %}
            <h3>Hi {{ user.username }}!</h3>
            {% else %}
            <h3>You are not logged in</h3>
            {% endif %}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Public Repositories</p>
                                <h5 class="font-weight-bolder mb-0">
                                    {% if user.is_authenticated and request.session.profile.repo_pub_count %}
                                    {{request.session.profile.repo_pub_count}}
                                    <!-- {% for ev in request.session.profile.events %}
                                    <a> {{ ev }} </a>
                                    {% endfor %} -->
                                    {% else %}
                                    0
                                    {% endif %}
                                    <!-- <span class="text-success text-sm font-weight-bolder">+55%</span> -->
                                </h5>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-book-bookmark text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Private Repositories</p>
                                <h5 class="font-weight-bolder mb-0">
                                    {% if user.is_authenticated and request.session.profile.repo_priv_count%}
                                    {{request.session.profile.repo_priv_count}}
                                    {% else %}
                                    0
                                    {% endif %}
                                </h5>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Total Public Gists</p>
                                <h5 class="font-weight-bolder mb-0">
                                    {% if user.is_authenticated and request.session.profile.gist_pub_count %}
                                    {{request.session.profile.gist_pub_count}}
                                    {% else %}
                                    0
                                    {% endif %}
                                </h5>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-collection text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Total Followers</p>
                                <h5 class="font-weight-bolder mb-0">
                                    {% if user.is_authenticated and request.session.profile.follower_count%}
                                    {{request.session.profile.follower_count}}
                                    {% else %}
                                    0
                                    {% endif %}
                                </h5>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row mt-xl-4 mt-1">
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">API Limit</p>
                                <h5 class="font-weight-bolder mb-0">
                                    {% if user.is_authenticated and request.session.profile.api_limit%}
                                    {{request.session.profile.api_limit}}
                                    {% else %}
                                    0
                                    {% endif %}
                                </h5>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-key-25 text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="row mt-4">
        <div class="col-lg-5 mb-lg-0 mb-4">
            <div class="card z-index-2">
                <div class="card-header pb-0">
                    <h6 id="chart-main-title">Select a Repository</h6>
                    <!-- <button id="toggleButton" class="btn" data-bs-toggle="collapse"
                        data-bs-target="#chart-main-controls" aria-expanded="false" aria-controls="chart-main-controls"
                        style="transition: transform 0.3s ease-in-out;">
                        <i class="fas fa-arrow-up"></i>
                    </button> -->
                    <!-- <i id="toggleButton" data-bs-toggle="collapse" data-bs-target="#chart-main-controls"
                        aria-expanded="false" aria-controls="chart-main-controls"
                        style="transition: transform 0.3s ease-in-out;" class="fas fa-arrow-up"></i>
                    <script>
                        const toggleButton = document.getElementById('toggleButton');
                        let isArrowUp = true;

                        toggleButton.addEventListener('click', function () {
                            if (isArrowUp) {
                                toggleButton.style.transform = 'rotate(180deg)';
                            } else {
                                toggleButton.style.transform = 'rotate(0deg)';
                            }

                            isArrowUp = !isArrowUp;
                        });
                    </script> -->
                    <!-- class="collapse" -->
                    <div id="chart-main-controls">
                        <div>
                            <button onclick="set_chart('Commit Activity')" type="button" class="btn btn-secondary">
                                Commit Activity
                            </button>
                            <button onclick="set_chart('Code Frequency')" type="button" class="btn btn-secondary">
                                Code Frequency
                            </button>
                        </div>
                        <div>
                            <button onclick="changeTimeRange_ext('chart-main', 0)" type="button"
                                class="btn btn-primary">
                                1 Day
                            </button>
                            <button onclick="changeTimeRange_ext('chart-main', 1)" type="button"
                                class="btn btn-primary">
                                1 Week
                            </button>
                            <button onclick="changeTimeRange_ext('chart-main', 2)" type="button"
                                class="btn btn-primary">
                                1 Month
                            </button>
                            <button onclick="changeTimeRange_ext('chart-main', 3)" type="button"
                                class="btn btn-primary">
                                6 Months
                            </button>
                            <button onclick="changeTimeRange_ext('chart-main', 4)" type="button"
                                class="btn btn-primary">
                                1 Year
                            </button>
                            <button onclick="changeTimeRange_ext('chart-main', 5)" type="button"
                                class="btn btn-primary">
                                Max
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3">
                    <div class="chart">
                        <canvas id="chart-main" class="chart-canvas" height="300"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <input type="text" id="repoSearch" class="form-control mb-3" placeholder="Search by repo name">
            <!-- TODO: Fuzzy search -->
            <!-- <script src="https://cdn.jsdelivr.net/npm/fuse.js"></script>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const repoList = Array.from(document.querySelectorAll('#itemList .list-group-item')).map(repo => {
                            return {
                                element: repo,
                                name: repo.getAttribute('data-item-repo-name').toLowerCase(),
                                author: repo.getAttribute('data-item-owner-login').toLowerCase(),
                                description: repo.getAttribute('data-item-repo-desc').toLowerCase(),
                            };
                        });
    
                        const fuseOptions = {
                            keys: ['name', 'author', 'description'],
                            includeScore: true,
                        };
    
                        const fuse = new Fuse(repoList, fuseOptions);
    
                        document.getElementById('repoSearch').addEventListener('input', function () {
                            const searchQuery = this.value.toLowerCase();
    
                            const result = fuse.search(searchQuery);
    
                            result.sort((a, b) => a.score - b.score);
    
                            repoList.forEach(repo => {
                                repo.element.classList.add('d-none');
                            });
    
                            result.forEach(item => {
                                console.log(item)
                                item.item.element.classList.remove('d-none');
                            });
                        });
                    });
                </script> -->
            <div class="overflow-auto" style="max-height: 400px;">
                <ul class="list-group" id="itemList">
                    {% if user.is_authenticated %}
                    {% for repo in request.session.profile.repos %}
                    <li class="list-group-item clickable" data-item-repo-name="{{repo.name}}"
                        data-item-owner-login="{{repo.owner.login}}" data-item-repo-desc="{{repo.description}}"
                        data-repo-url="{{repo.url}}" data-item-id="{{repo.id}}">
                        <div class="d-flex align-items-center">
                            <h5 class="mb-0">{{repo.name}}</h5>
                            <a href="{{repo.url}}" target="_blank" class="ni ni-curved-next text-lg ms-2"></a>
                            <div class="spinner-border spinner-border-sm text-primary ms-2 d-none" role="status"
                                id="spinner-{{repo.id}}">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <i id="error-icon-{{repo.id}}" class="fa fa-exclamation text-lg ms-2 d-none"
                                style="color: #ff1111;">
                                <span class="visually-hidden">Error Loading</span>
                            </i>
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="{{repo.owner.url}}" target="_blank"
                                class="avatar avatar-xs rounded-circle ms-0 me-1" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="{{repo.owner.login}}">
                                <img src="{{repo.owner.avatar_url}}" alt="{{repo.owner.login}}">
                            </a>
                            <h6 class="mb-0">{{repo.owner.login}}</h6>
                        </div>
                        {% if repo.description %}
                        <p class="mb-1">{{repo.description}}</p>
                        {% endif %}
                        <small>{{repo.updated_at.day}} - {{repo.updated_at.time}}</small>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-4 mb-lg-0 mb-4">
            <div class="card z-index-2">
                <div class="card-body p-3">
                    <h6 class="ms-2 mt-4 mb-0"> Repo Metrics </h6>
                    <div class="container border-radius-lg">
                        <div class="row">
                            <div class="col-3 py-3 ps-0">
                                <div class="d-flex mb-2">
                                    <div
                                        class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-primary text-center me-2 d-flex align-items-center justify-content-center">
                                        <svg width="10px" height="10px" viewBox="0 0 40 44" version="1.1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <title>document</title>
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g transform="translate(-1870.000000, -591.000000)" fill="#FFFFFF"
                                                    fill-rule="nonzero">
                                                    <g transform="translate(1716.000000, 291.000000)">
                                                        <g transform="translate(154.000000, 300.000000)">
                                                            <path class="color-background"
                                                                d="M40,40 L36.3636364,40 L36.3636364,3.63636364 L5.45454545,3.63636364 L5.45454545,0 L38.1818182,0 C39.1854545,0 40,0.814545455 40,1.81818182 L40,40 Z"
                                                                opacity="0.603585379"></path>
                                                            <path class="color-background"
                                                                d="M30.9090909,7.27272727 L1.81818182,7.27272727 C0.814545455,7.27272727 0,8.08727273 0,9.09090909 L0,41.8181818 C0,42.8218182 0.814545455,43.6363636 1.81818182,43.6363636 L30.9090909,43.6363636 C31.9127273,43.6363636 32.7272727,42.8218182 32.7272727,41.8181818 L32.7272727,9.09090909 C32.7272727,8.08727273 31.9127273,7.27272727 30.9090909,7.27272727 Z M18.1818182,34.5454545 L7.27272727,34.5454545 L7.27272727,30.9090909 L18.1818182,30.9090909 L18.1818182,34.5454545 Z M25.4545455,27.2727273 L7.27272727,27.2727273 L7.27272727,23.6363636 L25.4545455,23.6363636 L25.4545455,27.2727273 Z M25.4545455,20 L7.27272727,20 L7.27272727,16.3636364 L25.4545455,16.3636364 L25.4545455,20 Z">
                                                            </path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <p class="text-xs mt-1 mb-0 font-weight-bold">Open Issues</p>
                                </div>
                                <h4 id="open-issues-counter" class="font-weight-bolder">0</h4>
                            </div>
                            <div class="col-3 py-3 ps-0">
                                <div class="d-flex mb-2">
                                    <div
                                        class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-info text-center me-2 d-flex align-items-center justify-content-center">
                                        <svg width="10px" height="10px" viewBox="0 0 40 40" version="1.1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <title>spaceship</title>
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g transform="translate(-1720.000000, -592.000000)" fill="#FFFFFF"
                                                    fill-rule="nonzero">
                                                    <g transform="translate(1716.000000, 291.000000)">
                                                        <g transform="translate(4.000000, 301.000000)">
                                                            <path class="color-background"
                                                                d="M39.3,0.706666667 C38.9660984,0.370464027 38.5048767,0.192278529 38.0316667,0.216666667 C14.6516667,1.43666667 6.015,22.2633333 5.93166667,22.4733333 C5.68236407,23.0926189 5.82664679,23.8009159 6.29833333,24.2733333 L15.7266667,33.7016667 C16.2013871,34.1756798 16.9140329,34.3188658 17.535,34.065 C17.7433333,33.98 38.4583333,25.2466667 39.7816667,1.97666667 C39.8087196,1.50414529 39.6335979,1.04240574 39.3,0.706666667 Z M25.69,19.0233333 C24.7367525,19.9768687 23.3029475,20.2622391 22.0572426,19.7463614 C20.8115377,19.2304837 19.9992882,18.0149658 19.9992882,16.6666667 C19.9992882,15.3183676 20.8115377,14.1028496 22.0572426,13.5869719 C23.3029475,13.0710943 24.7367525,13.3564646 25.69,14.31 C26.9912731,15.6116662 26.9912731,17.7216672 25.69,19.0233333 L25.69,19.0233333 Z">
                                                            </path>
                                                            <path class="color-background"
                                                                d="M1.855,31.4066667 C3.05106558,30.2024182 4.79973884,29.7296005 6.43969145,30.1670277 C8.07964407,30.6044549 9.36054508,31.8853559 9.7979723,33.5253085 C10.2353995,35.1652612 9.76258177,36.9139344 8.55833333,38.11 C6.70666667,39.9616667 0,40 0,40 C0,40 0,33.2566667 1.855,31.4066667 Z">
                                                            </path>
                                                            <path class="color-background"
                                                                d="M17.2616667,3.90166667 C12.4943643,3.07192755 7.62174065,4.61673894 4.20333333,8.04166667 C3.31200265,8.94126033 2.53706177,9.94913142 1.89666667,11.0416667 C1.5109569,11.6966059 1.61721591,12.5295394 2.155,13.0666667 L5.47,16.3833333 C8.55036617,11.4946947 12.5559074,7.25476565 17.2616667,3.90166667 L17.2616667,3.90166667 Z"
                                                                opacity="0.598539807"></path>
                                                            <path class="color-background"
                                                                d="M36.0983333,22.7383333 C36.9280725,27.5056357 35.3832611,32.3782594 31.9583333,35.7966667 C31.0587397,36.6879974 30.0508686,37.4629382 28.9583333,38.1033333 C28.3033941,38.4890431 27.4704606,38.3827841 26.9333333,37.845 L23.6166667,34.53 C28.5053053,31.4496338 32.7452344,27.4440926 36.0983333,22.7383333 L36.0983333,22.7383333 Z"
                                                                opacity="0.598539807"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <p class="text-xs mt-1 mb-0 font-weight-bold">Pull Requests</p>
                                </div>
                                <h4 id="pull-requests-counter" class="font-weight-bolder">0</h4>
                            </div>
                            <div class="col-3 py-3 ps-0">
                                <div class="d-flex mb-2">
                                    <div
                                        class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-warning text-center me-2 d-flex align-items-center justify-content-center">
                                        <svg width="10px" height="10px" viewBox="0 0 43 36" version="1.1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <title>credit-card</title>
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF"
                                                    fill-rule="nonzero">
                                                    <g transform="translate(1716.000000, 291.000000)">
                                                        <g transform="translate(453.000000, 454.000000)">
                                                            <path class="color-background"
                                                                d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z"
                                                                opacity="0.593633743"></path>
                                                            <path class="color-background"
                                                                d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z">
                                                            </path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <p class="text-xs mt-1 mb-0 font-weight-bold">Collaborators</p>
                                </div>
                                <h4 id="collaborators-counter" class="font-weight-bolder">0</h4>
                            </div>
                            <div class="col-3 py-3 ps-0">
                                <div class="d-flex mb-2">
                                    <div
                                        class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-danger text-center me-2 d-flex align-items-center justify-content-center">
                                        <svg width="10px" height="10px" viewBox="0 0 40 40" version="1.1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <title>settings</title>
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g transform="translate(-2020.000000, -442.000000)" fill="#FFFFFF"
                                                    fill-rule="nonzero">
                                                    <g transform="translate(1716.000000, 291.000000)">
                                                        <g transform="translate(304.000000, 151.000000)">
                                                            <polygon class="color-background" opacity="0.596981957"
                                                                points="18.0883333 15.7316667 11.1783333 8.82166667 13.3333333 6.66666667 6.66666667 0 0 6.66666667 6.66666667 13.3333333 8.82166667 11.1783333 15.315 17.6716667">
                                                            </polygon>
                                                            <path class="color-background"
                                                                d="M31.5666667,23.2333333 C31.0516667,23.2933333 30.53,23.3333333 30,23.3333333 C29.4916667,23.3333333 28.9866667,23.3033333 28.48,23.245 L22.4116667,30.7433333 L29.9416667,38.2733333 C32.2433333,40.575 35.9733333,40.575 38.275,38.2733333 L38.275,38.2733333 C40.5766667,35.9716667 40.5766667,32.2416667 38.275,29.94 L31.5666667,23.2333333 Z"
                                                                opacity="0.596981957"></path>
                                                            <path class="color-background"
                                                                d="M33.785,11.285 L28.715,6.215 L34.0616667,0.868333333 C32.82,0.315 31.4483333,0 30,0 C24.4766667,0 20,4.47666667 20,10 C20,10.99 20.1483333,11.9433333 20.4166667,12.8466667 L2.435,27.3966667 C0.95,28.7083333 0.0633333333,30.595 0.00333333333,32.5733333 C-0.0583333333,34.5533333 0.71,36.4916667 2.11,37.89 C3.47,39.2516667 5.27833333,40 7.20166667,40 C9.26666667,40 11.2366667,39.1133333 12.6033333,37.565 L27.1533333,19.5833333 C28.0566667,19.8516667 29.01,20 30,20 C35.5233333,20 40,15.5233333 40,10 C40,8.55166667 39.685,7.18 39.1316667,5.93666667 L33.785,11.285 Z">
                                                            </path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <p class="text-xs mt-1 mb-0 font-weight-bold">Branches</p>
                                </div>
                                <h4 id="branches-counter" class="font-weight-bolder">0</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <h6>Collaborators</h6>
                    </div>
                </div>
                <div class="overflow-auto" style="max-height: 200px;">
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-dark text-xs font-weight-bolder opacity-7">
                                            User
                                        </th>
                                        <th class="text-uppercase text-dark text-xs font-weight-bolder opacity-7 ps-2">
                                            Commits
                                        </th>
                                        <th
                                            class="text-center text-uppercase text-dark text-xs font-weight-bolder opacity-7">
                                            Last Commit
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="collaborator-table">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card h-100">
                <div class="card-header pb-0">
                    <h6>Latest Repositories</h6>
                </div>
                <div class="overflow-auto" style="max-height: 200px;">
                    {% if not user.is_authenticated %}
                    <div class="timeline-content">
                        <p class="text-secondary text-sm mb-0">Login to see!</p>
                    </div>
                    {% else %}
                    <div class="card-body p-3">
                        <div class="timeline timeline-one-side">
                            {% for repo in request.session.profile.repos|slice:":10"%}
                            <div class="timeline-block mb-3">
                                <span class="timeline-step">
                                    <i class="ni ni-book-bookmark text-info text-gradient"></i>
                                </span>
                                <div class="timeline-content">
                                    <h6 class="text-dark text-sm font-weight-bold mb-0">{{repo.full_name}}</h6>
                                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{repo.created_at.day}}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row my-4">

    </div> -->

    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block scripts %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/plugins/chartjs.min.js' %}"></script>

<script>
    document.getElementById('repoSearch').addEventListener('input', function () {
        const searchQuery = this.value.toLowerCase();

        const repos = document.querySelectorAll('#itemList .list-group-item');

        repos.forEach(function (repo) {
            const name = repo.getAttribute('data-item-repo-name').toLowerCase();
            const author = repo.getAttribute('data-item-owner-login').toLowerCase();
            const description = repo.getAttribute('data-item-repo-desc').toLowerCase();

            const shouldShow = name.includes(searchQuery) || author.includes(searchQuery) || description.includes(searchQuery);
            repo.style.display = shouldShow ? 'block' : 'none';
        });
    });
</script>

<script>
    var charts = {
        'id': {},
        'raw': {},
        'default_line_chart_options': {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                }
            },
            interaction: {
                intersect: false,
                mode: 'index',
            },
            scales: {
                y: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5]
                    },
                    ticks: {
                        display: true,
                        padding: 10,
                        color: '#b2b9bf',
                        font: {
                            size: 11,
                            family: "Open Sans",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
                x: {
                    grid: {
                        drawBorder: false,
                        display: false,
                        drawOnChartArea: false,
                        drawTicks: false,
                        borderDash: [5, 5]
                    },
                    ticks: {
                        display: true,
                        color: '#b2b9bf',
                        padding: 20,
                        font: {
                            size: 11,
                            family: "Open Sans",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
            },
        },
    }

    function formatWeekEpoch(epoch) {
        const start = new Date(epoch * 1000); // Convert seconds to milliseconds
        const end = new Date(start.getTime() + 6 * 24 * 60 * 60 * 1000); // Add 6 days for the end of the week

        const startFormatted = start.toLocaleDateString('en-US', { month: 'short', year: 'numeric', day: 'numeric' });
        const endFormatted = end.toLocaleDateString('en-US', { day: 'numeric' });

        return `${startFormatted.split(" ")[0]} ${startFormatted.split(" ")[2]} | ${startFormatted.split(" ")[1].replace(',', '')} - ${endFormatted}`;
    }

    function formatDayEpoch(epoch) {
        // Create a new Date object using the epoch timestamp (in milliseconds)
        const date = new Date(epoch * 1000);

        // Get month abbreviation and full year
        const monthAbbrev = new Intl.DateTimeFormat('en', { month: 'short' }).format(date);
        const year = date.getFullYear();

        // Get day and pad it with leading zero if needed
        const day = String(date.getDate()).padStart(2, '0');

        return `${monthAbbrev} ${day}, ${year}`;
    }

    function formatPreciseEpoch(epoch) {
        const date = new Date(epoch * 1000); // Convert seconds to milliseconds
        const options = {
            month: 'short',
            day: 'numeric',
            year: 'numeric',
            hour: 'numeric',
            minute: 'numeric',
            hour12: true,
        };

        return date.toLocaleString('en-US', options);
    }


    function updateChart(chart_id, y_arr = null, x_arr = null) {
        const chart_i = charts.id[chart_id]
        const chart_e = charts[chart_i]
        const ctx = chart_e.ctx
        const chart = chart_e.chart
        const x_labels = charts.raw[chart_id].x_labels
        const x_colors = charts.raw[chart_id].x_colors

        if (y_arr == null || x_arr == null) {
            x_arr = charts.raw[chart_id].raw_x
            y_arr = charts.raw[chart_id].raw_y.map(charts.raw[chart_id].format_method)
        }

        const new_chart_dataset = function (data, label, set_background_color, set_border_color) {
            return {
                label: label,
                tension: 0.4,
                borderWidth: 0,
                pointRadius: 0,
                borderColor: set_border_color,
                borderWidth: 2,
                backgroundColor: set_background_color,
                fill: true,
                data: data,
                maxBarThickness: 6
            }
        }

        //controls = document.getElementById(chart_i + '-controls');
        //new bootstrap.Collapse(controls);

        document.getElementById(chart_i + '-title').innerHTML = chart_id;
        charts[chart_i].current = chart_id

        chart.data.labels = y_arr;
        chart.data.datasets.length = 0;
        for (let i = 0; i < x_arr.length; i++) {
            var color = x_colors[i]
            var gs = ctx.createLinearGradient(0, 230, 0, 50);
            gs.addColorStop(1, color + "55");
            gs.addColorStop(0.2, color + "00");
            gs.addColorStop(0, color + "20");
            chart.data.datasets.push(new_chart_dataset(x_arr[i], x_labels[i], gs, color));
        }

        chart.update();
    }

    function changeTimeRange(chart_id, range_id) {
        const chart_time_ranges = [
            86400, // Day
            604800, // Week
            2592000, // Month
            15768000, // 6 Months
            31536000, // Year
            999999999999, // Max
        ]

        const getIndicesForEpochRange = function (startEpoch, endEpoch, epoch_times) {
            let startIndex = null;
            let endIndex = null;

            for (let i = 0; i < epoch_times.length; i++) {
                const epoch = epoch_times[i];

                if (epoch >= startEpoch && startIndex == null) {
                    startIndex = i;
                }

                if (epoch <= endEpoch) {
                    endIndex = i;
                } else {
                    break;
                }
            }

            if (startIndex == null) {
                startIndex = endIndex;
            }

            return { startIndex, endIndex };
        }

        const chart_i = charts.id[chart_id]
        const chart_e = charts[chart_i]
        const ctx = chart_e.ctx
        const chart = chart_e.chart
        const raw_x = charts.raw[chart_id].raw_x
        const raw_y = charts.raw[chart_id].raw_y
        const format_method = charts.raw[chart_id].format_method

        const endDateEpoch = charts.raw[chart_id].raw_y[charts.raw[chart_id].raw_y.length - 1];
        const startDateEpoch = Math.max(0, endDateEpoch - chart_time_ranges[range_id]);

        const { startIndex, endIndex } = getIndicesForEpochRange(startDateEpoch, endDateEpoch, raw_y);

        const filtered_y = raw_y.slice(startIndex, endIndex + 1)
        var filtered_x = []
        for (let i = 0; i < raw_x.length; i++) {
            filtered_x.push(raw_x[i].slice(startIndex, endIndex + 1));
        }
        const formatted_y = filtered_y.map(format_method);

        charts.raw[chart_id].range = range_id;
        updateChart(chart_id, formatted_y, filtered_x);
    }

    function get_current(chart_i) {
        if (!(chart_i in charts) || charts[chart_i].current == null) {
            console.error('Current chart is null');
            return null
        }
        return charts[chart_i].current
    }

    function changeTimeRange_ext(chart_i, range_id) {
        chart_id = get_current(chart_i);
        if (chart_id == null)
            return
        changeTimeRange(chart_id, range_id);
    }

    function newLineChart(chart_i) {
        var ctx = document.getElementById(chart_i).getContext("2d");

        var chart = new Chart(ctx, {
            type: "line",
            data: {
                labels: ['Empty'],
                datasets: [],
            },
            options: charts.default_line_chart_options
        });

        charts[chart_i] = {
            'ctx': ctx,
            'chart': chart,
            'current': null,
        }
    }

    function newChartInterface(id, chart_i, x_labels, x_colors, format_method) {
        if (id in charts.id)
            return id
        charts.id[id] = chart_i
        charts.raw[id] = {
            'format_method': format_method,
            'raw_y': [],
            'raw_x': [],
            'x_labels': x_labels,
            'x_colors': x_colors,
            'range': 5,
        }
        if (!(chart_i in charts)) {
            newLineChart(chart_i) // TODO: not just line charts?
        }
        return id
    }

    function set_chart(chart_id, range_id = null) {
        if (range_id == null)
            range_id = charts.raw[chart_id].range;
        changeTimeRange(chart_id, range_id);
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var clickableItems = document.querySelectorAll('.clickable');

        var enable = true

        clickableItems.forEach(function (item) {
            item.addEventListener('click', function () {
                if (!enable)
                    return
                enable = false
                // Remove the 'active' class from all items
                clickableItems.forEach(function (otherItem) {
                    otherItem.classList.remove('active');
                });

                // Add the 'active' class to the clicked item
                item.classList.add('active');

                // Retrieve the repository URL and item ID from the data attributes
                var repoUrl = item.getAttribute('data-repo-url');
                var itemId = item.getAttribute('data-item-id');

                var spinner = document.getElementById(`spinner-${itemId}`);
                var error_icon = document.getElementById(`error-icon-${itemId}`);
                spinner.classList.remove('d-none');
                error_icon.classList.add('d-none');

                // Make an AJAX request to the Django view with the repository ID
                $.ajax({
                    type: 'POST',
                    url: '/choose_repo/',  // Replace with your Django view URL
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        repo_id: itemId,
                    },
                    success: function (response) {
                        //console.log('Repo Chosen:', response);

                        code_id = newChartInterface('Code Frequency', 'chart-main', ['Additions', 'Subtractions'], ['#159e11', '#d11717'], formatWeekEpoch);
                        commit_id = newChartInterface('Commit Activity', 'chart-main', ['Commit Activity'], ['#cb0c9f'], formatDayEpoch);

                        const dayCountsArray = [];
                        const dailyEpochsArray = [];
                        response.commit_activity.forEach(dayData => {
                            // Extract day counts and starting epoch from each dayData object
                            const dayCounts = dayData.days;
                            const startOfWeekEpoch = dayData.week;

                            // Calculate daily epochs based on the start of the week
                            const dailyEpochs = dayCounts.map((count, index) => startOfWeekEpoch + index * 24 * 60 * 60);

                            // Push the values to the respective arrays
                            dayCounts.forEach(count => dayCountsArray.push(count));
                            dailyEpochs.forEach(epoch => dailyEpochsArray.push(epoch));

                        });

                        var open_issues = document.getElementById(`open-issues-counter`);
                        var pull_requests = document.getElementById(`pull-requests-counter`);
                        var collaborators = document.getElementById(`collaborators-counter`);
                        var branches = document.getElementById(`branches-counter`);
                        var collaborator_table = document.getElementById(`collaborator-table`);

                        open_issues.innerHTML = response.open_issues_count
                        pull_requests.innerHTML = response.pull_requests_count
                        branches.innerHTML = response.branches.length

                        function find_login_user(login) {
                            for (const user of response.collaborators) {
                                if (user.login == login)
                                    return user
                            }
                            return null
                        }

                        if (response.collaborators_access) {
                            collaborators.innerHTML = response.collaborators.length
                            new_table = ''

                            for (const [login, commits] of Object.entries(response.commits)) {
                                user = find_login_user(login);
                                last_commit = 'No Commits'
                                if (user == null)
                                    continue;
                                if (commits.length != 0) {
                                    last_commit = formatPreciseEpoch(commits[0]);
                                }
                                new_table += `
                                <tr>
                                    <td>
                                        <div class="d-flex px-3 py-1">
                                            <a href="${user.url}" class="avatar avatar-xs rounded-circle"
                                                data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                title="${login}">
                                                <img src="${user.avatar_url}" alt="team1">
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">${commits.length}</h6>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="text-xs text-dark font-weight-bold">${last_commit}</span>
                                    </td>
                                </tr>`
                            }
                            collaborator_table.innerHTML = new_table;

                        } else {
                            collaborators.innerHTML = 'No Access'
                        }

                        charts.raw[commit_id].raw_y = dailyEpochsArray
                        charts.raw[commit_id].raw_x = [dayCountsArray]

                        charts.raw[code_id].raw_y = response.code_freq.map(week => week[0]);
                        charts.raw[code_id].raw_x = [response.code_freq.map(week => week[1]), response.code_freq.map(week => week[2])]

                        set_chart(commit_id);

                        spinner.classList.add('d-none');
                        enable = true
                    },
                    error: function (error) {
                        spinner.classList.add('d-none');
                        error_icon.classList.remove('d-none');
                        enable = true
                        console.error('Error choosing repo:', error);
                    },
                });
            });
        });
    });
</script>

{% endblock scripts %}